
html {
  background-color: black !important;
}

body {
  --pdt-d1: black;
  --pdt-d2: rgb(20, 20, 20);
  --pdt-d3: rgb(30, 30, 30);
  --pdt-d4: rgb(50, 50, 50);
  --pdt-l1: white;
  --pdt-l2: rgb(160, 160, 160);
  --pdt-l3: rgb(120, 120, 120);
  --g-colorSchemeName: darkMode;
  --color-text-default: var(--pdt-l1);
  --color-text-subtle: var(--pdt-l2);
  --color-icon-subtle: var(--pdt-l2);
  --color-icon-default: var(--pdt-l3);
  --color-background-default: var(--pdt-d1);
  --color-background-box-default: var(--pdt-d1);
  --color-background-button-secondary-default: var(--pdt-d3);
  --color-background-button-secondary-hover: var(--pdt-d4);
  --color-background-tabs-default-base: var(--pdt-d3);
  --color-background-tabs-default-hover: var(--pdt-d4);
  --color-border-popover-primary: var(--pdt-d1);
  --color-background-popover-primary: var(--pdt-d2);
  --color-background-box-secondary: var(--pdt-d3);
  --color-background-overlay: var(--pdt-d3);
  --color-background-box-darkwash: var(--pdt-d4);
  --color-background-button-white-default: var(--pdt-d3);
  --color-background-button-white-hover: var(--pdt-d4);
  --color-background-formfield-primary: var(--pdt-d3);
  --color-background-combobox-item-hover: var(--pdt-d4);
  --color-background-tag-primary-default: var(--pdt-d2);
  --color-text-formfield-default: var(--pdt-l1);
  --color-background-box-warning-weak: var(--pdt-d2);
  --color-background-box-lightwash: var(--pdt-d3);
  --color-background-box-light: var(--pdt-d3);
  --color-background-switch-default-selected: var(--pdt-l3);
  --color-background-switch-default-unselected: var(--pdt-d2);
  --color-text-dark: var(--pdt-l1);
  --color-border-container: var(--pdt-d3);
  --color-icon-dark: var(--pdt-l1);
  background-color: transparent !important;
  color: rgb(200, 200, 200);
}

input,
textarea,
#searchBoxContainer > div {
  color: var(--pdt-l1) !important;
  background-color: var(--pdt-d2) !important;
}

.Jea.MIw.QLY.Rym.ojN.p6V.zI7.iyn.Hsu {
  background-color: rgba(255, 255, 255, 0) !important;
}

div[data-test-id="pinrep-source-link"] {
  background-color: var(--pdt-d3) !important;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: var(--pdt-d3);
}

::-webkit-scrollbar-thumb {
  background: var(--pdt-d4);
}

::-moz-scrollbar {
  width: 13px;
}

::-moz-scrollbar-track {
  background: var(--pdt-d3);
}

::-moz-scrollbar-thumb {
  background: var(--pdt-d4);
}

::-ms-scrollbar {
  width: 13px;
}

::-ms-scrollbar-track {
  background: var(--pdt-d3);
}

::-ms-scrollbar-thumb {
  background: var(--pdt-d4);
}

/*FOLLOWING CODE WAS MADE BY FILIPERMASTER <3*/

/* 'More Ideas Board' */
div:has(> .moreIdeasBoardRepCarousel) > div:nth-child(n + 3) {
  filter: invert(1);
}

div:has(> .moreIdeasBoardRepCarousel) > div:nth-child(1) {
  filter: invert(1);
  z-index: 1;
}

/* 'Seach Bar' */
input[data-test-id="search-box-input"] {
  background-color: transparent !important;
}

#searchBoxContainer > div > div:nth-child(2) {
  background-color: var(--pdt-l3) !important;
}

/* 'Post Title' */
div[data-test-id="closeup-title"] {
  background: transparent;
}

/* 'React Button' */
div[data-test-id="react-button"] > div > div {
  filter: invert(1);
}

/* 'Album Preview' */
div[data-test-id="profile-board-card"] div,
div[data-test-id="pwt-grid-item"] div {
  border-color: var(--pdt-d1) !important;
}

/* 'Image Search' */
div[data-test-id="shop-button"] {
  background-color: rgb(from var(--color-background-box-default) r g b / 0.9) !important;
}

div[data-test-id="visual-search-cropper"] {
  filter: invert(1);
}
.v2shadowMask {
  filter: invert(.8);
}

/* 'Add Idea' */
div[data-test-id="persistent-one-click-save"] {
  filter: invert(.9);
}

/* 'Comments' */
div[data-test-id="inline-comment-composer-container"] {
  border-color: var(--pdt-l3) !important;
}

/* 'Description' */
div[data-test-id="more-description-container"],
div[data-test-id="less-description-container"] {
  background-color: var(--color-background-box-default) !important;
}

/* 'Pin Creation' */
div[data-test-id="storyboard-selector-board"] button {
  background-color: var(--pdt-d2) !important;
}

div[data-test-id="storyboard-selector-board"] button > div:not([data-test-id="board-dropdown-placeholder"]) span {
  color: var(--pdt-l1) !important; 
}

div:has(> div[data-test-id="editor-with-mentions"]) {
  border-radius: var(--rounding-600);
  color: var(--pdt-l1) !important;
  background-color: var(--pdt-d2) !important;
}
